/*.node.gz
/*.tgz
/build/
/deps/libjpeg-turbo/doc/
/deps/libjpeg-turbo/java/
/deps/libjpeg-turbo/testimages/
/node_modules/
/npm-*
/temp/
/yarn.lock
/.editorconfig
/.gitmodules
/.jshintrc
/.travis.yml
/appveyor.yml
/prebuilds
/.vscode
/tests
